.tabbed {
    
}

.tabbed__navigation {
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
}

.tabbed__navigation__item {
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
}

.tabbed__navigation__item.is-active {
    color: red;
    font-weight: 700;
}

.tabbed__content__item {
    display: none;
}

.tabbed__content__item.is-active {
    display: block;
}