.toggle{
    cursor:pointer;
    margin-bottom:20px;
    
}
.toggle__title:hover{
    color:red;
    text-decoration:underline;
}
.toggle__content{
    display:none;
}
.toggle--open .toggle__content{
    display:block;
}